<div class='bar bar-header'>
  <know-header-button text='View' current-state='vmViewCards.stateName' route-to='viewSets'></know-header-button>
  <div class='h1 title'>{{vmViewCards.setTitle}}</div>
  <know-header-button text='Add' current-state='vmViewCards.stateName' route-to='createSet' class='header-button-right'></know-header-button>
</div>

<ion-view>
  <ion-content class='has-header'>

    <!-- <div class='card' ng-if='vmViewCards.questionFacing'>
      <div class='item item-text-wrap'>
        {{vmViewCards.cards[vmViewCards.currentCardIndex].question}}
      </div>
    </div> -->

    <div class='view-card' ng-if='vmViewCards.questionFacing'>
      <div class='text-left h5 gray-color'>Question:</div>
      <div>{{vmViewCards.cards[vmViewCards.cardIndex].question}}</div>
      <div class='col col-100 flip-next-container text-center'>
        <button class='button button-clear button-positive button-large' ng-click='vmViewCards.flip()'>Flip</button>
        <button class='button button-clear button-balanced button-large' ng-click='vmViewCards.next()'>Next</button>
      </div>
    </div>

    <div class='view-card' ng-if='!vmViewCards.questionFacing'>
      <div class='text-left h5 gray-color'>Answer:</div>
      <div>{{vmViewCards.cards[vmViewCards.cardIndex].answer}}</div>
      <div class='col col-100 flip-next-container text-center'>
        <button class='button button-clear button-positive button-large' ng-click='vmViewCards.flip()'>Flip</button>
        <button class='button button-clear button-balanced button-large' ng-click='vmViewCards.next()'>Next</button>
      </div>
    </div>

  </ion-content>
</ion-view>