footer {
  //top: 80%;
  //position: fixed;
}

.title {
  color: tomato !important;
  font-size: 27px !important;
}

.no-resize {
  resize: none;
}

.gray-color {
  color: gray;
}

.center {
  margin: 0 auto;
}

.no-margin-top {
  margin-top: 0 !important;
}

.flip-next-container {
  bottom: 10px;
  position: fixed;
  margin-left: 0;
  padding-left: 0;
  left: 0;

  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.underlined {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.button-font {
  font-size: 2em;
  font-weight: 200;
}

.header-button-right {
  position: absolute;
  right: 5px;
}

/* HOME.HTML */

.home-buttons-container {
  margin-top: 50%;

  button {
    padding: 0;
    margin-bottom: 30%;
  }
}

/* END OF HOME.HTML */

#new-card {
  margin-bottom: 20px;
}

.view-card {
  width: 94%;
  box-shadow: 0 0 2px 1px lightgray;
  text-align: center;
  margin-top: 10px;
  margin-left: 3%;
  position:fixed;
  top: 0;
  bottom: 4%;
  font-size: 2em;
  line-height: 1.1em;
  padding: 10% 5% 10% 5%;
}
