footer {
  //top: 80%;
  //position: fixed;
}

.title {
  color: tomato !important;
  font-size: 27px !important;
}

.no-resize {
  resize: none;
}

.center {
  margin: 0 auto;
}

.no-margin-top {
  margin-top: 0 !important;
}

.underlined {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.button-font {
  font-size: 2em;
  font-weight: 200;
}

.header-button-right {
  position: absolute;
  right: 5px;
}

/* HOME.HTML */

.home-buttons-container {
  margin-top: 50%;

  button {
    padding: 0;
    margin-bottom: 30%;
  }
}

/* END OF HOME.HTML */

#new-card {
  margin-bottom: 20px;
}